<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NYMPHETS HERE WELCOMING</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='index.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='browser.css') }}"
    />
  </head>
  <body>
    <div class="location-tip">UR AT {{ req_path if req_path else 'ROOT' }}</div>
    <div class="items-grid">
      {% for item in items %}
      <div class="item">
        {% if item.type == 'dir' %}
        <a
          class="file-link dir-link"
          href="{{ url_for('browse', path=item.path) }}"
          >{{ item.name }}</a
        >
        {% if item.preview %}
        <img
          src="{{ url_for('resource', filepath=item.preview) }}"
          alt="预览: {{ item.name }}"
        />
        {% endif %} {% elif item.type == 'video' %} 🎬
        <a
          class="file-link video-link"
          href="{{ url_for('resource', filepath=item.path) }}"
          target="_blank"
          >{{ item.name }}</a
        >
        {% if item.preview %}
        <img
          src="{{ url_for('resource', filepath=item.preview) }}"
          alt="预览: {{ item.name }}"
        />
        {% endif %} {% elif item.type == 'file' %} 📄
        <a
          class="file-link"
          href="{{ url_for('resource', filepath=item.path) }}"
          target="_blank"
          >{{ item.name }}</a
        >
        {% if item.preview %}
        <img
          src="{{ url_for('resource', filepath=item.preview) }}"
          alt="预览: {{ item.name }}"
        />
        {% endif %} {% endif %}
      </div>
      {% endfor %}
    </div>
    <div style="text-align: center; margin: 24px 0">
      <a href="{{ url_for('logout') }}" class="nav-btn">退出</a>
    </div>
    <script>
      window.bgList = {{ bg_list|tojson|safe }};
      window.bgImg = "{{ bg_img }}";
    </script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
  </body>
</html>
