<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NYMPHETS HERE WELCOMING</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='index.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='images.css') }}"
    />
  </head>
  <body>
    <div class="location-tip">UR AT {{ req_path if req_path else 'ROOT' }}</div>
    <div class="images-grid">
      {% for prefix, items in groups.items() %} {% for item in items %}
      <div class="img-wrapper {{ group_classes[prefix] }}">
        <img
          src="{{ url_for('resource', filename=item.path) }}"
          alt="{{ item.name }}"
        />
      </div>
      {% endfor %}
      <hr class="divider" />
      {% endfor %}
    </div>

    <div style="text-align: center; margin: 24px 0">
      <a href="{{ url_for('logout') }}" class="nav-btn">退出</a>
    </div>
  </body>
</html>
