<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NYMPHETS HERE WELCOMING</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='index.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='images.css') }}"
    />
  </head>
  <body>
    <div class="location-tip">UR AT {{ req_path if req_path else 'ROOT' }}</div>
    <div class="images-grid">
      {% set ns = namespace(last_prefix=None) %} {% for item in items %} {% set
      current_prefix = item.name[0:2] %} {% if ns.last_prefix is not none and
      current_prefix != ns.last_prefix and current_prefix in ['a_', 'b_', 'c_']
      %}
      <hr class="divider" />
      {% endif %} {% set ns.last_prefix = current_prefix %}
      <img
        src="{{ url_for('resource', filename=item.path) }}"
        alt="{{ item.name }}"
      />
      {% endfor %}
    </div>

    <div style="text-align: center; margin: 24px 0">
      <a href="{{ url_for('logout') }}" class="nav-btn">退出</a>
    </div>
  </body>
</html>
